* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;


}

body {}

/* +===================  Preheading ========================*/
.preHeading {
    background-color: black;
    color: #FFFFFF;
    height: 44px;
    font-weight: 400;
    font-size: 12px;
    line-height: 19.2px;
    text-align: center;
    position: relative;

}

.preHeading p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* +===================  navbar ========================*/
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
    color: #000000;

    height: 100px;


}

.navbar .logo {

    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 25.6px;
    letter-spacing: 0%;
    text-transform: uppercase;
    cursor: pointer;

}

.navbar .logo span {

    font-weight: 500;
    font-style: normal;
    font-size: 32px;

    line-height: 25.6px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.navbar .menu .menu-items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 20px;
}

.navbar .menu .menu-item {
    position: relative;

}

.navbar .menu .menu-item::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 0%;
    height: 1px;
    background: #000;
    transform: translateX(-50%);
    transition: 0.3s ease;
}

.navbar .menu .menu-item:hover::after {
    width: 100%;
}

.navbar .menu .menu-items .menu-item a {

    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 20.7px;
    letter-spacing: 0.72px;
    text-decoration: none;
    color: #000000;
}

.navbar .links .link-items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.navbar .links .link-items .link-item a {
    text-decoration: none;

}

.navbar .links .link-items .link-item {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.navbar .links .link-items .link-item .shop-count {
    font-family: "Helvetica";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 16.1px;
    letter-spacing: 0%;
}

/* main-container */
.main-container{

}
.product-preview-container{
    display: grid;
    grid-template-rows: 701px 701px;
    grid-template-columns: 467px 467px;
    gap: 20px;
}
.product-preview-container .product-preview img{
    width: 467px;
    height: 701px;
    object-fit: cover;
}

/* +===================  signup ========================*/
.line {
    margin: 0px auto 0px;
    width: 1176px;
    height: 1px;
    color: #333333;
    text-align: center;

}

.line-smaller {
    margin: 75px auto 0;
    width: 872px;
    height: 1px;
    color: #333333;
    text-align: center;

}

.signup-container {
    height: 162px;
    width: 1176px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.signup-container .socials {

    margin-left: 79px;
}

.signup-container .email-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 392px;
    gap: 17px;
}

.signup-container .email-container .signup-text {

    font-weight: 700;
    font-style: Bold;
    font-size: 15px;
}

.signup-container .email-container .submit-area {
    display: flex;
    justify-content: space-between;
}

.signup-container .email-container .submit-area input {
    border: none;
    border-bottom: 1px solid #777777;
    width: 280px;
    height: 30px;
    padding: 7px 0px;
}

.signup-container .email-container .submit-area input:focus {
    outline: none;
    border-bottom: 1px solid #000;
}

.signup-container .email-container .submit-area .submit-button {
    width: 97px;
    height: 30px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container .email-container .submit-area .submit-button p {
    color: white;

    font-weight: 700;
    font-style: Bold;
    font-size: 10px;
    letter-spacing: 1.1px;

    text-transform: uppercase;
}

/* +===================  footer ========================*/

.footer-section {
    width: 1176px;
    margin: 81px auto;
    display: flex;
    justify-content: space-around;
}

.footer-section .footer-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section .footer-col .footer-col-heading {

    font-weight: 600;
    font-size: 11px;
    line-height: 24.2px;
    letter-spacing: 1.65px;
    text-align: center;
    text-transform: uppercase;
}

.footer-col-items {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;

}

.footer-col-items .footer-col-item {

    position: relative;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 27.02px;
    letter-spacing: 0%;
    text-align: center;
}

.footer-col-items .footer-col-item::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 0%;
    height: 1px;
    background: #777777;
    transform: translateX(-50%);
    transition: 0.3s ease;
}

.footer-col-items .footer-col-item:hover::after {
    width: 100%;
}

.footer-col-items .footer-col-item a {
    text-decoration: none;
    color: #777777;
}

.footer-section .footer-col:nth-child(2) .footer-col-item:nth-child(1),
.footer-section .footer-col:nth-child(2) .footer-col-item:nth-child(4) {

    font-weight: 600;
    font-size: 13px;
    line-height: 22.4px;
    letter-spacing: 0%;
    text-align: center;

}





.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto 60px;
}

.footer-copyright .left {
    font-family: "Helvetica";
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    letter-spacing: 1.65px;
    text-align: center;
    text-transform: uppercase;
    color: #777777;
}

.footer-copyright .right {
    font-family: "Helvetica";
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    letter-spacing: 1.65px;
    text-transform: uppercase;
    color: #333333;
}