*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;


}
body{
        
}

/* +===================  Preheading ========================*/
.preHeading{
    background-color: black;
    color: #FFFFFF;
    height: 44px;
    font-weight: 400;
    font-size: 12px;
    line-height: 19.2px;
    text-align: center;
    position: relative;

}
.preHeading p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* +===================  navbar ========================*/
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
    color:#000000;

    height: 100px;
   

}
.navbar .logo{
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 25.6px;
    letter-spacing: 0%;
    text-transform: uppercase;
    cursor: pointer;

}
.navbar .logo span{
        font-family: "Montserrat";
        font-weight: 500;
        font-style: normal;
        font-size: 32px;
        
        line-height: 25.6px;
        letter-spacing: 0%;
        text-transform: uppercase;
}
.navbar .menu .menu-items{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.navbar .menu .menu-items .menu-item a{
    font-family: "Montserrat";
        font-weight: 500;
        font-style: normal;
        font-size: 18px;
        line-height: 20.7px;
        letter-spacing: 0.72px;
        text-decoration: none;
        color: #000000;
}
.navbar .links .link-items{
    list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        
}
.navbar .links .link-items .link-item a{
    text-decoration: none;
    
}
.navbar .links .link-items .link-item{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.navbar .links .link-items .link-item .shop-count{
    font-family: "Helvetica";
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 16.1px;
        letter-spacing: 0%;
}

/* +===================  hero ========================*/

.hero-container {
    position: relative;
    height: 630px;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    background-image: url('img/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hero-container .text-area{
    position: absolute;
        z-index: 1;
        padding-left: 10%;
            height: 148px;
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            
}
.hero-container .text-area .text{
    font-family: "Montserrat";
        font-weight: 700;
        font-style: Bold;
        font-size: 33px;
        line-height: 47.04px;
        letter-spacing: 0%;
}
.hero-container .text-area .shop-now{
    width: 152px;
        height: 50px;
        background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
}
.hero-container .text-area .shop-now p{
    font-family: "Montserrat";
        font-weight: 700;
        font-style: Bold;
        font-size: 18px;;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF;
}
.hero-container .buttons {
    position: absolute;
    z-index: 2;
    padding: 0 20px;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.hero-container .buttons button{
    border: 0;
    background: transparent;
    cursor: pointer;
   
}
.hero-container .buttons button img{
    height: 56px;
    border: 0;
    filter: invert(1);
}