.padding-bottom{
    padding-bottom: 500px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;


}
body{
        
}

/* +===================  Preheading ========================*/
.preHeading{
    background-color: black;
    color: #FFFFFF;
    height: 44px;
    font-weight: 400;
    font-size: 12px;
    line-height: 19.2px;
    text-align: center;
    position: relative;

}
.preHeading p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* +===================  navbar ========================*/
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
    color:#000000;

    height: 100px;
   

}
.navbar .logo{
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 25.6px;
    letter-spacing: 0%;
    text-transform: uppercase;
    cursor: pointer;

}
.navbar .logo span{
        font-family: "Montserrat";
        font-weight: 500;
        font-style: normal;
        font-size: 32px;
        
        line-height: 25.6px;
        letter-spacing: 0%;
        text-transform: uppercase;
}
.navbar .menu .menu-items{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.navbar .menu .menu-items .menu-item a{
    font-family: "Montserrat";
        font-weight: 500;
        font-style: normal;
        font-size: 18px;
        line-height: 20.7px;
        letter-spacing: 0.72px;
        text-decoration: none;
        color: #000000;
}
.navbar .links .link-items{
    list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        
}
.navbar .links .link-items .link-item a{
    text-decoration: none;
    
}
.navbar .links .link-items .link-item{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.navbar .links .link-items .link-item .shop-count{
    font-family: "Helvetica";
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 16.1px;
        letter-spacing: 0%;
}

/* +===================  hero ========================*/

.hero-container {
    position: relative;
    height: 630px;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    background-image: url('img/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hero-container .text-area{
    position: absolute;
        z-index: 1;
        padding-left: 10%;
            height: 148px;
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            
}
.hero-container .text-area .text{
    font-family: "Montserrat";
        font-weight: 700;
        font-style: Bold;
        font-size: 33px;
        line-height: 47.04px;
        letter-spacing: 0%;
}
.hero-container .text-area .shop-now{
    width: 152px;
        height: 50px;
        background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
}
.hero-container .text-area .shop-now p{
    font-family: "Montserrat";
        font-weight: 700;
        font-style: Bold;
        font-size: 18px;;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF;
}
.hero-container .buttons {
    position: absolute;
    z-index: 2;
    padding: 0 20px;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.hero-container .buttons button{
    border: 0;
    background: transparent;
    cursor: pointer;
   
}
.hero-container .buttons button img{
    height: 56px;
    border: 0;
    filter: invert(1);
}

/* +===================  collections ========================*/
.collection-container{
    max-width: 1400px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection-header{
    margin-top: 38px;
    font-family: "Montserrat";
        font-weight: 700;
        font-style: Bold;
        font-size: 33px;
        line-height: 47.04px;
        letter-spacing: 0%;
        text-align: center;
}
.collection-container .shop-now{
    Width: 152px;
     Height: 50px;
     background-color: #000000;
     color: white;
    font-family: "Montserrat";
        font-weight: 700;
        font-style: Bold;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 44px;
        margin-bottom: 70px;
}
.collections-wrapper{
    position: relative;
    max-width: 1296px;
    
}
.collections-wrapper button{
    top:50%;
    cursor: pointer;
    position: absolute;
    text-align: center;
    line-height: 46px;
    transform: translateY(-50%);
    border: 0;
        background: transparent;
        cursor: pointer;

    
    
}
.collections-wrapper button img {
    height: 56px;
    border: 0;
    
}
.collections-wrapper button:first-child{
    left: -px;
}
.collections-wrapper button:last-child{
    right: 0px;
}
.collections-wrapper .carousel{
    white-space: nowrap;
    overflow: hidden;
    
    max-width: 1296px;
}
.carousel img{
    height: 315px;
    width: 315px;
    object-fit: cover;
    margin-left: 12px;
    
}
.carousel img:first-child{
    margin-left: 0px;
}

/* +===================  cta ========================*/


.cta-banner{

    position: relative;
        height: 630px;
        max-width: 1400px;
        margin: 40px auto;
        overflow: hidden;
        background-image: url('img/cta.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0 20px;
        display: flex;
        
        justify-content: flex-end;
        align-items: center;
        position: relative;

}

.cta-signup-container{
    width: 572px;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 52px;
}

.cta-signup-container .cta-signup-text{
    font-family: "Montserrat";
        font-weight: 700;
        font-style: Bold;
        font-size: 32px;
        line-height: 44.1px;
        letter-spacing: 0%;
        color: #FFFFFF;
}
.cta-signup-container .cta-signup-button{
    width: 204px;
        height: 50px;
        background-color: #000000;
        display: flex;
            justify-content: center;
            align-items: center;
        
}
.cta-signup-container .cta-signup-button .cta-signup-button-text{
font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    
}
.cta-container .cta-gallery{
    margin: 40px auto 120px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
}
.cta-container .cta-gallery .gallery-wrapper{
    width: 1375px; 
    display: flex;
    flex-wrap: nowrap;
}
.cta-container .cta-gallery .gallery-wrapper img{
    width: 210px;
    height: 210px;
    margin-left: 23px;
    
}
.cta-container .cta-gallery img:first-child{
    margin-left: 0px;
}

.line{
    margin: 0px auto 0px;
    width: 1176px;
        height: 1px;
        color: #333333;
        text-align: center;

}

/* +===================  signup ========================*/

.signup-container{
    height: 162px;
    width: 1176px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.signup-container .socials{
    
    margin-left: 79px;
}
.signup-container .email-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 392px;
    gap: 17px;
}
.signup-container .email-container .signup-text{
    font-family: "Montserrat";
        font-weight: 700;
        font-style: Bold;
        font-size: 15px;
}
.signup-container .email-container .submit-area{
    display: flex;
    justify-content: space-between;
}
.signup-container .email-container .submit-area input{
    border: none;
    border-bottom: 1px solid #777777;
    width: 280px;
    height: 30px;
    padding: 7px 0px;
}
.signup-container .email-container .submit-area .submit-button{
    width: 97px;
    height: 30px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-container .email-container .submit-area .submit-button p{
    color: white;
    font-family: "Montserrat";
        font-weight: 700;
        font-style: Bold;
        font-size: 10px;
        letter-spacing: 1.1px;
        
        text-transform: uppercase;
}